.blockquote {
  margin-top: 60px;
}

.checkmark {
  list-style-type: none;
}

.checkmark li:before{
  content: '✓';
  margin-left: -30px;
  margin-right: 10px;
}

code {
  background-color: rgb(220, 220, 220);
  color: black;
  padding: 2px 4px;
}

.code {
  background-color: rgb(250, 230, 230);
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}

.code-sol {
  background-color: rgb(230, 250, 230);
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}

.credit {
  margin-top: 10px;
}

.fcc {
  background-color: black;
  color: white;
  padding: 2px 4px;
}

.fcc:hover {
  color: silver;
}

.footer-pagination a {
  font-size: .8em;
  color: black;
  float: left;
  margin-top: -40px;
  margin-bottom: 40px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.footer-pagination a.active {
  background-color: rgb(10, 50, 100);
  color: white;
}

.footer-pagination a:hover:not(.active) {
  background-color: #ddd;
}

.footer-pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footer-pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.link {
  color: blue;
  text-decoration: none;
}

.man-thot {
  color: blue;
  text-decoration: none;
}

.man-thot:hover {
  color: grey;
}

.solution {
  margin-bottom: 5px;
}